<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.scape_project.eu/Simulator" 
       class = "eu.scape_project.simulator.SimulatorPackage"
       genModel = "eu/scape_project/Simulator.genmodel" /> 
	
  </extension>




</plugin>
